.container {
  overflow-x: auto;
}

.table td {
  font-size: 16px;
  color: #007bff;
}

.table td[data-date] {
  color: #000000;
}

.table td[data-close] {
  position: relative;
}

.table button.close {
  color: red;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
